ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}

a {
   text-decoration: none;
   color: white;
}

a:hover, 
button:hover {
   color: rgb(39, 19, 33);
}

.spacer {
   flex: 1 1 auto;
}

li {
   padding: 15px;
}

.title {
   font-size: 30px;
}