
<mat-card class="example-card" *ngFor="let blog of blogs">
   
  <mat-card-header (click)="editBlog(blog.id)">
     <mat-card-title>{{blog.title}}</mat-card-title>
     <mat-card-subtitle>{{blog.subtitle}}</mat-card-subtitle>
   </mat-card-header>
   
   <mat-card-content (click)="editBlog(blog.id)">
     {{blog.content}}
   </mat-card-content>
   
   
   <mat-card-actions class="buttons">
     <button mat-button class="like-button">LIKE</button>
     <button mat-button class="share-button">SHARE</button>
   </mat-card-actions>
 
  </mat-card>
 