/* .mat_card_action-button {
   width: 50px;
   height: 25px;
   margin: 0px 10px;
}

.mat_card_action-button.like {
   background-color: red;
   color: white;
}

.mat_card_action-button.share {
   background-color: rgb(25, 97, 25);
   color: white;
} */