
.like-button {
   background-color: red;
   color: white;
}

.share-button {
   background-color: rgb(25, 97, 25);
   color: white;
}

mat-card {
   padding: 20px 10px;
   border-bottom: 1px solid red;
}

.buttons {
   text-align: end;
}